$bg-border: #e7edcb;
$bg-color: #bdc693;

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: $bg-color;
}
.jumbotron {
  text-align: center;
}
.card{
  border: 1px solid $bg-border;
  .card-header {
    padding-top: 20px;
    padding-left: 10px;
    background-color: $bg-border;
    border-bottom: 1px solid $bg-border;
  }
  .card-text {
    li {
      list-style: none;
    }
  }
}
.border-line {
  border-right: 1px solid white;
  height: 100%;
}
.input-style {
  padding-left: 10%;
  .form-control {
    width: 90%;
  }
}
